{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block title %}
<title>Войти - Ярмарка проектов</title>
{% endblock %}
{% load widget_tweaks %}
{% block menu5 %}
 menu-item--act
{% endblock %}
{% block mainblock %}
<div class="container" id="log_in" >
   <div class="row ">
        {% if form.errors %}
        <p class="flow-text center" style="font-size: 18px;">Некорректные данные</p>
        {% endif %}
        {% if next %}
        {% if user.is_authenticated %}
        <p class="flow-text center" style="font-size: 18px;">У вас нет доступа к этой странице</p>
        {% endif %}
        {% endif %}
      <div class="col s12 m12 " >
         <div class="card-panel " style="border:3px solid; border-color: #9f2d20;">
            <form action="{% url 'fairapp:login' %}"  method='post' id="form1">
               {% csrf_token %}
               <div class="row">
                  <div class="input-field col s12 m12">
                     <i class="material-icons prefix">assignment_ind</i>
                     {% render_field form.username class="validate" %}
                     <label for="username" >Имя пользователя</label>
                  </div>
                  <div class="input-field col s12 m12">
                     <i class="material-icons prefix">lock</i>
                      {% render_field form.password class="validate" %}
                     <label for="password">Пароль</label>
                  </div>
                  <div class="center">
                     <button class="btn waves-effect waves-light grey darken-4"  type="submit" name="action">Войти
                     <i class="material-icons right">send</i>
                     </button>
                  </div>
               </div>
            </form>
         </div>
         <p class="flow-text center" style="font-size: 18px;"><a href="{% url 'fairapp:signup' %}" style="cursor: pointer; color:#9f2d20; " id="reg">Зарегиструйтесь </a>, если нет аккаунта </p>
         <p class="flow-text center" style="font-size: 18px;"><a href="{% url 'fairapp:password_reset' %}" style="cursor: pointer; color:#9f2d20; " id="reg">Восстановить пароль </p>
      </div>
   </div>
</div>
{% endblock %}