{% extends 'registration/base_generic.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block menu6 %}
 menu-item--act
{% endblock %}
{% block mainblock %}
     <div class="container " id="register">
        <div class="row ">
             {% if form.errors %}
             <p class="flow-text center" style="font-size: 18px;"> {{ form.errors }} </p>
             {% endif %}
            <div class="col s8 m8 offset-m2">
                <div class="card-panel " style="border:3px solid; border-color: #9f2d20;">
                    <form action="{% url 'fairapp:signup' %}"  method='post' id="form1">{% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                {% render_field form.username class="validate"%}
                                <label for="username">Имя пользователя</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                {% render_field form.first_name class="validate" %}
                                <label for="username">Имя</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                 {% render_field form.last_name class="validate" %}
                                <label for="username">Фамилия</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                 {% render_field form.email class="validate" %}
                                <label for="email" data-error="Email is invalid" data-success="">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                 {% render_field form.password1 class="validate" %}
                                <label for="password">Пароль</label>
                                <span class="helper-text" data-error="wrong" data-success="right">Ваш пароль должен содержать как минимум 8 символов.
Ваш пароль не должен быть слишком простым.
Ваш пароль не должен состоять полностью из цифр.</span>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                {% render_field form.password2 class="validate" %}
                                <label for="password">Подтверждение пароля</label>
                            </div>
                            <div class="center">
                                <button class="btn waves-effect waves-light grey darken-4"  type="submit" name="action">Регистрация
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                         </div>
                    </form>
                </div>
                <p class="flow-text center" style="font-size: 18px;">Есть аккаунт? <a href="{% url 'fairapp:login' %}" style="cursor: pointer; color:#9f2d20;" id="log">Войдите</a> </p>
            </div>
        </div>
     </div>
{% endblock %}