{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block mainblock %}

<div class="post__tags">
   <span class="post__date">
   <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2018-02-13T12:15:00+03:00">{{ project.pub_date }}</span>            </span>
   <span class="tag tag--grey">
   {%   for t in project.tag.all %}
   #{{  t }}
   {%   endfor %}</span>
</div>
<h1 class="post__title">
   {{ project.project_name }}
</h1>
<p class = "post__desc"> Руководитель: {{ project.head }}
</p>
<p class = "post__desc"> Время начала: {{ project.start_date }}
</p>
<p class = "post__desc"> Содержимое проекта:</br>{{ project.content }}
</p>
<p class = "post__desc"> Требуемые навыки:</br>
 {% for skill in project.skill.all %}{{ skill }}
     </br>
 {% endfor %}
</p>
<p class = "post__desc"> Тип: {{ project.type }}
</p>
<p class = "post__desc"> Время окончания: {{ project.end_date }}
</p>
 <form method="post" action="{% url 'fairapp:approveproject' project.id %}">
   {% csrf_token %}
   <div>
      <input type="submit" value="approve" name="Decision"/>
      <input type="submit" value="reject" name="Decision"/>
   </div>
</form>
{% endblock %}
