{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block mainblock %}
      <div class="post__tags">
         <span class="post__date">
         <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2018-02-13T12:15:00+03:00">{{ project.pub_date }}</span>            </span>
         <span class="tag tag--grey">
         {%   for t in project.tag.all %}
         #{{  t }}
         {%   endfor %}</span>
      </div>
      <h1 class="post__title">
         {{ project.project_name }}
      </h1>
      <p class = "post__desc"> Руководитель: {{ project.head }}
      </h2>
      <p class = "post__desc"> Время начала: {{ project.start_date }}
      </h3>
      <p class = "post__desc"> Содержимое проекта: {{ project.content }}
      </h3>
      <p class = "post__desc"> Требуемые навыки:
      </h3> <br/>{% for skill in project.skill.all %}{{ skill }}<br/>{% endfor %}
      <p class = "post__desc"> Тип: {{ project.type }}
      </h3>
      <p class = "post__desc"> Время окончания: {{ project.end_date }}
      </h4>
{% endblock %}
