{% extends "fairapp/base_generic.html" %}
{% block menu1 %}
 menu-item--act
{% endblock %}
{% block title %}
<title>Ярмарка проектов - Санкт-Петербургский государственный университет</title>
{% endblock %}
{% block heading %}
<h1 class="header-h1">Актуальные проекты</h1>
{% endblock %}
{% block content %}
<aside class="constructor-aside col-xs-12 col-md-3">
   <div class="g-hide-sm">
      <nav class="menu-sidebar-wrap  block block-menu-block" id="block-menu-block-14">
         <ul class="menu-sidebar menu-sidebar--primary">
            <li class="first menu-mlid-1510 menu-item"><a href="" title="">Параметр</a></li>
            <li class="menu-mlid-1199 menu-item"><a href="" title="">Параметр</a></li>
            <li class="menu-mlid-1290 menu-item"><a href="" title="">Параметр</a></li>
            <li class="last menu-mlid-2080 menu-item"><a href="">Параметр</a></li>
         </ul>
      </nav>
   </div>
</aside>
<section class="constructor col-xs-12 col-md-9">
   <article class="editor-wrap">
      {% for project in projects %}
      <section class="constructor-box constructor-box--flat">
         <a href="{% url 'fairapp:detail' project.id %}" class="box-title ">
         {{ project.project_name }}
         </a>
         <div class="table-float table-float--large">
            <p>{{ project.brief_summary }}</p>
         </div>
      </section>
      {% endfor %}
   </article>
</section>
<div class="col-xs-12 pagination-wrapper">
   <div class="divider-top">
      <nav class="pagination">
         <div class="item-list">
            <ul class="pagination__items">
                {% if projects.has_previous %}
                <li class="pagination__item pagination__prev first"><a title="На предыдущую страницу" href="/{{ projects.previous_page_number }}"></a></li>
                {% endif %}
                <li class="pagination__item"><a title="На страницу номер 1" href="/">{{ page }}</a></li>
                {% if projects.has_next %}
                <li class="pagination__item pagination__next last"><a title="На следующую страницу" href="/{{ projects.next_page_number }}"></a></li>
                {% endif %}
            </ul>
         </div>
      </nav>
   </div>
</div>
{% endblock %}