{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block mainblock %}
      <p class = "post__desc"> От кого: {{ appforproject.user }}
      </h2>
      <p class = "post__desc"> Сопроводительное письмо: {{ appforproject.covering_letter }}
      </h3>
      <p class = "post__desc"> Проект: {{ appforproject.project.project_name }}
      </h3>

    <form method="post" action="{% url 'fairapp:approveapp' appforproject.id %}">
   {% csrf_token %}
   <div>
      <input type="submit" value="approve" name="Decision"/>
       <input type="submit" value="reject" name="Decision"/>
   </div>
</form>
{% endblock %}
