{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block mainblock %}
      <p class = "post__desc"> От кого: {{ appforproject.user }}
      <p class = "post__desc"> Активности:
      {% for skill in appforproject.user.extskill_set.all %}
        {{ skill.skill }}
      {% endfor %}
      <p class = "post__desc"> Образование: {{ appforproject.user.education }}
      <p class = "post__desc"> Проект: {{ appforproject.project.name }}

      <p class = "post__desc"> Сопроводительное письмо: {{ appforproject.covering_letter }}


    <form method="post" action="{% url 'fairapp:approveapp' appforproject.id %}">
   {% csrf_token %}
   <div>
      <input type="submit" value="approve" name="Decision"/>
       <input type="submit" value="reject" name="Decision"/>
   </div>
</form>
{% endblock %}
