{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block title %}
 <title>Мой профиль - Ярмарка проектов</title>
{% endblock %}
{% block menu4 %}
 menu-item--act
{% endblock %}
{% block mainblock %}
<p class = "post__desc"> Имя пользователя: {{ profile.user.username }}
</p>
<p class = "post__desc"> Почта: {{ profile.user.email }}
</p>
<p class = "post__desc"> Имя: {{ profile.user.first_name }}
</p>
<p class = "post__desc"> Фамилия: {{ profile.user.last_name }}
</p>
{% if profile.middle_name %}
<p class = "post__desc"> Отчество: {{ profile.middle_name }}
</p>
{% endif %}

<div class="row">
    <div class="col-sm-4">
      <p class = "post__desc"> Прикладные навыки:
          {% for skill in profile.ap_skill.all %}
              <br>{{ skill }}
          {% endfor %}
      </p>
    </div>
    <div class="col-sm-4">
      <p class = "post__desc"> Научные навыки:
          {% for skill in profile.sci_skill.all %}
              <br>{{ skill }}
          {% endfor %}
      </p>
    </div>
    <div class="col-sm-4">
      <p class = "post__desc"> Внеучебные навыки:
          {% for skill in profile.ext_skill.all %}
              <br>{{ skill }}
          {% endfor %}
      </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
      <p class = "post__desc"> Прикладные активности:
      {% for act in profile.ap_act.all %}
          <br>{{ act }}
      {% endfor %}
      </p>
    </div>
    <div class="col-sm-4">
      <p class = "post__desc"> Научные активности:
      {% for act in profile.sci_act.all %}
          <br>{{ act }}
      {% endfor %}
      </p>
    </div>
    <div class="col-sm-4">
      <p class = "post__desc"> Внеучебные активности:
      {% for act in profile.ext_act.all %}
          <br>{{ act }}
      {% endfor %}
      </p>
    </div>
  </div>


{% if profile.education %}
<p class = "post__desc"> Образование:
    {% for ed in profile.education.all %}
        <br>ВУЗ: {{ ed.edu }}
        <br>Факультет: {{ ed.faculty }}
        <br>Программа: {{ ed.prog }}
        <br>Ступень: {{ ed.stage }}
        <br>Год выпуска: {{ ed.year }}
    {% endfor %}
</p>


{% endif %}

{% endblock %}
{% block bottom %}
<div class="col-xs-12 pagination-wrapper">
  <div class="divider-top">
    <ul class="pagination">
         <div class="item-list">
            <ul class="pagination__items" >
                <li><a title="Изменить профиль" style="cursor: pointer; color:#9f2d20;" href="{% url 'fairapp:update_profile' %}">Изменить профиль</a></li>
                <li><a title="Мои заявки" style="cursor: pointer; color:#9f2d20;" href="{% url 'fairapp:myapplications' %}">Мои заявки</a></li>
                <li><a title="Мои проекты" style="cursor: pointer; color:#9f2d20;" href="{% url 'fairapp:myprojects' %}">Мои проекты</a></li>
            </ul>
         </div>
    </ul>
  </div>
</div>
{% endblock %}