{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block title %}
 <title>Изменить профиль - Ярмарка проектов</title>
{% endblock %}
{% load widget_tweaks %}
{% block mainblock %}
<p class="flow-text center" style="font-size: 28px;">Изменение профиля</p>
<form action="{% url 'fairapp:update_profile' %}"  method='post' id="form1">
   {% csrf_token %}
   <div class="row">
      <div class="row ">
         <div class="input-field col s12 ">
             {% render_field user_form.first_name class="validate" maxlength="255" placeholder="Введите имя" %}
            <label for="start_date" >Имя</label>
         </div>
         <div class="input-field col s12 ">
             {% render_field user_form.last_name class="validate" maxlength="255" placeholder="Введите фамилию" %}
            <label for="end_date" >Фамилия</label>
         </div>
         <div class="input-field col s12">
              {% render_field user_form.email class="validate" maxlength="255" placeholder="Введите e-mail" %}
            <label for="brief_summary">Email</label>
         </div>


          <div class="input-field col s12 ">
            {% render_field skill_form.name class="validate" %}
            <label for="tag">Скиллы</label>
         </div>



         <div class="input-field col s12">
            {% render_field profile_form.ApSkill class="validate" maxlength="255" %}
            <label for="content">Прикладной опыт</label>
         </div>



         <div class="input-field col s12 ">
             {% render_field project_form.ApAct class="validate" maxlength="255" %}
            <label for="app_deadline" >Прикладные активности</label>
         </div>
         <div class="input-field col s12 ">
              <select name="faculty">
                {% for x,y in profile_form.fields.faculty.choices %}
                <option value="{{ x }}" {% if profile_form.fields.faculty.value == x %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
              </select>
            <label for="num_places" >Факультет</label>
         </div>
         <div class="input-field col s12 ">
              <select name="status">
                {% for x,y in profile_form.fields.status.choices %}
                <option value="{{ x }}" {% if profile_form.fields.status.value == x %} class="selected" {% endif %}>{{ y }}</option>
                {% endfor %}
              </select>
            <label for="num_places" >Статус</label>
         </div>
         <div class="input-field col s12 " style="display: block">
            {% render_field profile_form.grade class="validate" maxlength="255" %}
            <label for="type">Курс</label>
         </div>
      </div>
      <footer class="center">
         <button class="btn waves-effect waves-light grey darken-4"  type="submit" name="action">Изменить
         <i class="material-icons right">send</i>
         </button>
      </footer>
   </div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $('select').formSelect();
    });
</script>
{% endblock %}
