{% extends "registration/base_generic.html" %}
{% load staticfiles %}
{% block title %}
<title>Изменить профиль - Ярмарка проектов</title>
{% endblock %}
{% load widget_tweaks %}
{% block mainblock %}
<p class="flow-text center" style="font-size: 28px;">Изменение профиля</p>
<form action="{% url 'fairapp:update_profile' %}" method='post' id="form1">
    {% csrf_token %}
    <div class="row ">

        {{ education_formset.management_form }}
        {% if education_formset.forms %}
        {% for education_form in education_formset %}
            <div class="education-formset">
                <div class="row">
            <div class="input-field col-sm-4 ">
                {% render_field education_form.edu class="validate" %}
                <label for="edu" style="margin-left: 15px">ВУЗ</label>
            </div>
            <div class="input-field col-sm-4 ">
                {% render_field education_form.faculty class="validate" %}
                <label for="faculty" style="margin-left: 15px">Факультет</label>
            </div>
            <div class="input-field col-sm-4 ">
                {% render_field education_form.prog class="validate" %}
                <label for="prog" style="margin-left: 15px">Программа</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-sm-6 ">
                {% render_field education_form.stage class="validate" %}
                <label for="stage" style="margin-left: 15px">Ступень</label>
            </div>
            <div class="input-field col-sm-6 ">
                {% render_field education_form.year class="validate" placeholder="Введите год выпуска"%}
            <label for="year" style="margin-left: 15px">Год выпуска</label>
            </div>
        </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="education-formset"></div>
        {% endif %}

        <div class="input-field col s12 ">
            {% render_field user_form.first_name class="validate" maxlength="255" placeholder="Введите имя" %}
            <label for="start_date">Имя</label>
        </div>
        <div class="input-field col s12 ">
            {% render_field user_form.last_name class="validate" maxlength="255" placeholder="Введите фамилию" %}
            <label for="end_date">Фамилия</label>
        </div>
        <div class="input-field col s12">
            {% render_field user_form.email class="validate" maxlength="255" placeholder="Введите e-mail" %}
            <label for="brief_summary">Email</label>
        </div>
        <div style="margin-bottom: 10px">Образование:</div>


        <div style="margin-bottom: 10px">Навыки:</div>
        <div class="row">
            <div class="col-sm-4">
                <label for="name">Прикладные навыки:</label>
                {% render_field filter.form.ap_skill %}
            </div>
            <div class="col-sm-4">
                <label for="name">Научные скиллы</label>
                {% render_field filter.form.sci_skill %}
            </div>
            <div class="col-sm-4">
                <label for="name">Внеучебные скиллы</label>
                {% render_field filter.form.ext_skill %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="name">Прикладные активности:</label>
                {% render_field filter.form.ap_act %}
            </div>
            <div class="col-sm-4">
                <label for="name">Научные активности</label>
                {% render_field filter.form.sci_act %}
            </div>
            <div class="col-sm-4">
                <label for="name">Внеучебные активности</label>
                {% render_field filter.form.ext_act %}
            </div>
        </div>
    </div>
    <div class="row">

        <footer class="center">
            <button class="btn waves-effect waves-light grey darken-4" type="submit" name="action">Изменить
                <i class="material-icons right">send</i>
            </button>
        </footer>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $('select').formSelect();
    });
</script>


<!-- Include formset plugin - including jQuery dependency -->
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.education-formset').formset({
        addText: 'Добавить сведения об образовании',
        deleteText: 'Убрать сведения об образовании'
    });
</script>
{% endblock %}
